In [ ]:
#https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?date=latest&station=8413320&product=predictions&
#datum=STND&time_zone=gmt&units=english&format=xml

#product=predictions&application=NOS.COOPS.TAC.WL&begin_date=20240417&end_date=20240418&datum=MLLW&station=8413320&
#time_zone=gmt&units=english&interval=hilo&format=csv

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import os
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [3]:
def NOAA_get_tides(station, begin_date, end_date):
    driver = webdriver.Safari()
    url = "https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?product=predictions&application=NOS.COOPS.TAC.WL&begin_date=" + begin_date + "&end_date=" + end_date + "&datum=MLLW&station=" + station + "&time_zone=gmt&units=english&interval=hilo&format=xml"
    driver.get(url)
    df = pd.read_xml(driver.page_source)
    df = df[df['type'] == "H"]
    #df.loc["time"] = pd.to_datetime(df["t"], format = "%Y-%m-%d %H:%M")
    df["t"] = df["t"].apply(pd.to_datetime, format = "%Y-%m-%d %H:%M")
    df["start_water"] = df["t"] + timedelta(minutes = -60)
    df["end_water"] = df["t"] + timedelta(minutes = 60)
    driver.close()
    return(df)

In [7]:
bar_harbor_2010 = NOAA_get_tides(station = "8413320", begin_date = "20100101", end_date =  "20101231")

In [8]:
bar_harbor_2010

                       t       v type         start_water           end_water
0    2010-01-01 03:18:00  11.173    H 2010-01-01 02:18:00 2010-01-01 04:18:00
2    2010-01-01 15:30:00  13.052    H 2010-01-01 14:30:00 2010-01-01 16:30:00
4    2010-01-02 04:08:00  11.564    H 2010-01-02 03:08:00 2010-01-02 05:08:00
6    2010-01-02 16:22:00  13.209    H 2010-01-02 15:22:00 2010-01-02 17:22:00
8    2010-01-03 04:59:00  11.829    H 2010-01-03 03:59:00 2010-01-03 05:59:00
...                  ...     ...  ...                 ...                 ...
1400 2010-12-29 09:48:00  11.382    H 2010-12-29 08:48:00 2010-12-29 10:48:00
1402 2010-12-29 22:22:00  10.335    H 2010-12-29 21:22:00 2010-12-29 23:22:00
1404 2010-12-30 10:50:00  11.451    H 2010-12-30 09:50:00 2010-12-30 11:50:00
1406 2010-12-30 23:29:00  10.173    H 2010-12-30 22:29:00 2010-12-31 00:29:00
1408 2010-12-31 11:52:00  11.586    H 2010-12-31 10:52:00 2010-12-31 12:52:00

[705 rows x 5 columns]

In [9]:
bar_harbor_2010.to_csv('2010-tides-bar-harbor.csv')